<ion-header>
  <ion-toolbar>
    <ion-title>
      Real-Time GeoLocation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div #map class="map"></div>  
  <ion-list lines="full">
    <ion-item-sliding *ngFor="let GPSGeoLocation of GPSGeoLocations">
      <ion-item  *ngIf="GPSGeoLocation" class="item_user" (click)="onDisplay(GPSGeoLocation.UserID)" >
        <span>{{GPSGeoLocation.UserID}} :&nbsp;&nbsp;</span>
        <span>{{GPSGeoLocation.PosLat}}&nbsp;&nbsp;</span>
        <span>{{GPSGeoLocation.PosLng}}</span>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  
</ion-content>

<ion-footer (click)="logout()">
  <ion-toolbar color="secondary">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer>
